body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1.2rem;
  color: #d9d9d9;
  text-align: center;
  background-color: #262626;
}

header > h1 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: #f9f4da;
}

header > p {
  font-size: 0.875rem;
  color: #8e8e8e;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 25rem;
  max-width: 90vw;
}

section.game-status {
  width: 100%;
  padding: 0.6rem;
  color: #f9f4da;
  text-align: center;
  background-color: #10a95b;
  border-radius: 0.2rem;
}

section.game-status > h2 {
  font-size: 1.25rem;
}

section.language-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  justify-content: center;
}

span.chip {
  padding: 0.2rem 0.3rem;
  border-radius: 0.2rem;
}

section.word {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

section.word > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.125rem;
  background-color: #323232;
  border-bottom: 1px solid #f9f4da;
}

section.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

section.keyboard > button {
  width: 2.3rem;
  height: 2.3rem;
  background-color: #fcba29;
  border: 1px solid #d7d7d7;
  border-radius: 0.2rem;
}

.new-game {
  padding: 0.5rem 1.5rem;
  background-color: #11b5e5;
  border: 1px solid #d7d7d7;
  border-radius: 0.2rem;
}
