body {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  color: #D9D9D9;
  background-color: #262626;
}

header {
  text-align: center;
}

header > h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #F9F4DA;
}

header > p {
  max-width: 350px;
  font-size: 0.875rem;
  color: #8E8E8E;
}

section.game-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 30px;
  color: #F9F4DA;
  background-color: #10A95B;
  border-radius: 4px;
}

section.game-status > p {
  margin: 5px;
}

section.game-status > h2 {
  margin: 5px;
  font-size: 1.25rem;
}

section.language-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 350px;
  margin-bottom: 36px;
}

span.chip {
  padding: 5px;
  border-radius: 3px;
}

section.word {
  display: flex;
  gap: 2px;
  justify-content: center;
  margin-bottom: 20px;
}

section.word > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 1.125rem;
  background-color: #323232;
  border-bottom: 1px solid #F9F4DA;
}

section.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  max-width: 450px;
  margin-bottom: 36px;
}

section.keyboard > button {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #FCBA29;
  border: 1px solid #D7D7D7;
  border-radius: 3px;
}

button.new-game {
  display: block;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  margin-inline: auto;
  cursor: pointer;
  background-color: #11B5E5;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
}
